<div class="container-fluid">
  <h1>... geh schlafen.</h1>

  <div class="links">
  <ul class="list-unstyled left">
    <li>
      <a href="#" class="link-item">Über das Projekt</a>
    </li>
    <li>
      <a href="#" class="link-item">Impressum</a>
    </li>
  </ul>

  <ul class="list-unstyled right">
    <li>
      <a href="#" class="link-item">Github</a>
    </li>
    <li>
      <a href="#" class="link-item">API Docs</a>
    </li>
  </ul>
</div>


  <img src="assets/footer/logo.svg" alt="Media Theke Logo" class="logo">

</div>