<div class="container-fluid">
  <div class="row">
    <!-- Shapes -->
    <div class="col-md-6">
      <h1>... geh schlafen.</h1>
      <img src="assets/footer/bg.svg" alt="Shapes" class="img-fluid w-400">
      <div class="sleep">
      </div>
    </div>
    <!-- Text -->
    <!-- Links -->
    <div class="col-md-3 d-flex justify-content-around end">
      <div class="row">
        <div class="col">
          <ul class="list-unstyled">
            <li>
              <a href="#" class="link-item">Über das Projekt</a>
            </li>
            <li>
              <a href="#" class="link-item">Impressum</a>
            </li>
          </ul>
        </div>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="link-item">Github</a>
          </li>
          <li>
            <a href="#" class="link-item">API Docs</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Logo -->
    <div class="col-md-3 end">
      <img src="assets/footer/logo.svg" alt="Media Theke Logo" class="">
    </div>
  </div>
</div>