.container-fluid {
    background-color: #0f0f0f;
    padding: 20px;

    a {
        color: grey;
        font-size: 0.9rem;
        
        &:hover {
            color: white;
        }

    }

    height: 270px;
}

h1 {
    color: white;
    font-size: 2.5em;
    position: relative;
    left: 180px;
    top: 100px;
}

.link-item {
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: underline;
    }
}

.img-fluid {
    max-width: 100%;
    margin-left: -20px;
    margin-bottom: -20px;
}

.end {
    align-self: end;
}