.command-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: var(--color-background);
  color: var(--color-text);
  cursor: pointer;

  &:hover {
    background-color: var(--color-contrast-background);
    color: var(--color-contrast-text);
  }

  &.active {
    color: var(--color-highlight);
  }
}

.videocard-recommend-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 32px;
  height: 32px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-always-white);
  border-radius: var(--radius-round);
  cursor: pointer;

  &:hover {
    color: var(--color-highlight);
  }
}
