<div #wrapperElement *ngIf="video" class="video-container" (mouseenter)="showSlider = true"
    (mouseleave)="showSlider = false">
    <div class="video-player">
        <!-- api: <app-vjs-player [options]="{autoplay: true, controls: true, sources: [{ src: '/path/to/video.mp4', type: 'video/mp4' }]}"></app-vjs-player>-->
        <app-video-vjs-player [options]="{autoplay: true, controls: true, fluid: true, aspectRatio: '16:9', sources: [{ src: video.url_video, type: 'video/mp4' }]}"></app-video-vjs-player>
    </div>
</div>