.suggestions-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Adjust the number 3 to your desired number of columns.
    gap: 10px; // Space between grid items
}

.search-bar {
    display: flex;
    align-items: center;
    width: 90%;
    height: calc(68px * 1);

    padding-left: 50px;
    padding-right: 10px;

    /* should be centered in all directions */
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;


    font-size: 2rem;
    cursor: text;

    border-radius: 34px;
    border: 3px solid black;

}

img {
    margin-right: 10px;
}

.invert {
    filter: invert(1);
}


.form-control {
    border: none;
    /* Feel free to change the color */
    outline: none;
    font-size: 2rem;
    text-transform: lowercase;
    background-color: transparent;
    text-align: center;

    &::placeholder {
        color: grey;
        margin-left: 10px;
    }

    &:focus {
        color: white;
        border: none;
        outline: none;
        box-shadow: none;

        &::placeholder {
            color: grey;
        }

        /* invert image element */
        img {
            filter: invert(1);
            background-color: white;
        }
    }
}

.search-bar.focused {
    background-color: black;
    color: white;
}

/* Make sure the text color changes when focused */
.search-bar.focused .form-control {
    color: white;
}

.spinner-border {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.remove-bottom-corners{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.results {
    background-color: #000;
    color: white;
    margin-top: -10px;
    width: 90%;
    margin-left: auto;

    max-height: 60vh;
    overflow: scroll;

    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
}

