<div class="search-bar" [ngClass]="{'focused': inputFocused}">
  <i-bs name="search" width="32" height="32" (click)="focusInput()"></i-bs>
  <input #searchInput [(ngModel)]="search" class="form-control" placeholder="Search for a video"
    (keyup)="searchVideo(search)" (focus)="inputFocused = true" (blur)="inputFocused = false">

  <!-- Add this spinner conditionally -->
  <div *ngIf="searchService.isSearching" class="spinner-border" role="status">
    <span class="sr-only">Searching...</span>
  </div>
</div>