<!-- <div class="alpha-disclaimer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-center">
                    <strong>Alpha-Version</strong> - Hallo, wir sind noch in der Alpha-Phase. Das bedeutet, dass wir
                    noch nicht alle Funktionen implementiert haben und es noch zu Fehlern kommen kann. Wir freuen uns
                    über Feedback und Verbesserungsvorschläge.
                </p>
            </div>
        </div>
    </div>
</div>
 -->


<div class="nav-wrap">
    <nav class="navbar navbar-expand-lg grid-nav">
        <a class="navbar-brand grid-item-logo" href="/"><img src="assets/logo.svg" alt="mediatheke Logo"></a>
        <app-video-search class="grid-item-search"></app-video-search>
        <div class="justify-content-end grid-item-user" id="navbarNav">
            <!-- Assuming a boolean variable 'isLoggedIn' to check if user is logged in -->
            <app-navbar-login></app-navbar-login>
        </div>
    </nav>
</div>