<ul class="video-list">
    <li *ngFor="let video of videos" class="video-list__item">
        <a [routerLink]="['/video-detail', video.id]" class="video-list__link">
            <div class="thumbnail">
                <img *ngIf="hasThumbnail(video)"
                    [src]="getThumbnailSrc(video)"
                    alt=""
                    loading="lazy">
                <app-thumb-placeholder *ngIf="!hasThumbnail(video)"
                    [variant]="video.id">
                </app-thumb-placeholder>
                <span class="duration">{{ video.duration | duration }}</span>
            </div>
            <div class="video-info">
                <span class="title">{{ video.title }}</span>
                <span class="meta">{{ video.channel }} &middot; {{ video.topic }}</span>
            </div>
        </a>
    </li>
</ul>
