<div class="">
    <tabset>
        <ng-container *ngFor="let seasonTab of $series.seasons; let i = index">
            <tab heading="{{(seasonTab.season.season_number !== 999) ? 'Staffel ' + seasonTab.season.season_number : 'Unsortiert'}} {{ video.season_number === seasonTab.season.season_number ? '▶' : '' }}"
                [active]="activeSeason === seasonTab" (selectTab)="selectTab(seasonTab)">
                <app-video-small-list [videos]="seasonTab.season.episodes"></app-video-small-list>
            </tab>
        </ng-container>
    </tabset>
</div>