.current {
    background-color: var(--color-key-yellow);
}


::ng-deep .nav-item {
    margin-bottom: -3px;
}

::ng-deep .nav-tabs .nav-link {
    background-color: #000;
    color: #fff;
    border: 3px solid #000;
    border-color: #000;
    border-radius: 0;
    border-bottom: none;
    /* spacing between tabs */
    margin-right: 10px;

    &:hover {
        background-color: #000;
        color: #fff;
        border-color: #000;
    }

    &.active {
        background-color: #fff;
        color: #000;
        border-color: #000;
    }

}

.episodes {
    background-color: #fff;
    border: 3px solid #000;
    padding: 20px;

}

ul.episode-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.episode-list__item {
    display: flex;
    align-items: start;
    /* Align at the top */
    margin-bottom: 15px;

    &:hover {
        background-color: var(--color-key-magenta-transparent);
    }
}

.episode-list__link {
    display: flex;
}

.thumbnail {
    position: relative;
    width: 200px;
    height: 120px;
    margin-right: 20px;
    border: 3px solid var(--color-key-yellow);

    @media (max-width: 1000px) {
        width: 100px;
        height: 60px;
    }

    @media (max-width: 400px) {
        display: none;

    }
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.duration {
    position: absolute;
    color: var(--color-contrast-text);
    border-radius: 0;
    top: 10px;
    right: 10px;
    padding: 4px 6px;
    background: black;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.2;
    z-index: 2;
}

.episode-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    /* Ensures this block takes up remaining space */
}

.title {
    margin: 0;
    font-weight: bold;
}

.description {
    margin-top: 5px;

    @media (max-width: 400px) {
        display: none;

    }
}

a {
    color: var(--color-text);
    text-decoration: none;
}