.series-nav-wrapper {
    padding: 20px;
}

::ng-deep .nav-item {
    margin-bottom: -3px;
}

::ng-deep .nav-tabs .nav-link {
    background-color: var(--color-key-black);
    color: var(--color-always-white);
    border: var(--border-thick) var(--color-key-black);
        border-radius: var(--radius-none);
    border-bottom: none;
    margin-right: 10px;

    &:hover {
        background-color: var(--color-key-black);
        color: var(--color-always-white);
        border-color: var(--color-key-black);
    }

    &.active {
        background-color: var(--color-background);
        color: var(--color-text);
        border-color: var(--color-key-black);
    }
}